.custom-dropdown .p-dropdown-label {
    color: white !important;
}

.custom-dropdown .p-dropdown-panel {
    background-color: #1e293b !important;
    border: 1px solid rgba(12, 163, 231, 0.3) !important;
}

.custom-dropdown .p-dropdown-items .p-dropdown-item {
    color: white !important;
    padding: 0.5rem !important;
    transition: all 0.2s ease !important;
}

.custom-dropdown .p-dropdown-items .p-dropdown-item:hover {
    background-color: rgba(12, 163, 231, 0.2) !important;
}

.custom-dropdown .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #0CA3E7 !important;
    color: white !important;
}
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .custom-paginator .p-paginator-page {
    @apply text-blue-500; 
}

.custom-paginator .p-paginator-page.p-highlight {
    @apply bg-blue-500 text-white rounded-full;
}

  